body,
body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top; 
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    display: flex;
}

.bala {
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
}

.navbar {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
    align-content: center;
    align-items: center;
    transition-duration: 0.2ms;
    color: #c4c4c4;
    /* display: none; */
}
/* 
.navbar-on-hover {
    width: 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
    align-content: left;
    align-items: center;
    transition-duration: 0.2ms;
    display: none;
} */

/* HOVER ICONU SU TEXTU LYGIAVIMAS */

.home-hover, .calendar-hover, .fe-hover, .game-hover {
    display: flex;
    gap: 10px;
    align-items: center;

    /* JEI REIKTU KAIP LYGIUOTI SU FLEXU
    align-items
    justify-content
    flex-direction */
    
}
/* 
.hover-icon-align {
    display: flex;
    flex-direction: column;
    color: #c4c4c4;
    gap: 30px;
} */


/* ----------------------------------------- */
 
/* HOVERIO STEBUKLAS ;) */
/* 
.navbar:hover {
    display: none;
    
}

.navbar-on-hover:hover {
    display: block;
    
} */


/* HOVERIO SPRENDIMO PAVYZDYS ZEMIAU */

 /* .right-column > .img-grey,
.right-column:hover > .img-color {
    display: block;
}
.right-column > .img-color,
.right-column:hover > .img-grey {
    display: none; */

/* <div class="right-column">
        <img
          class="img-grey"
          src="./images/grey-astro.png"
          alt="Susiguzes astronautas su telofonu"
        />
        <img
          class="img-color"
          src="./images/lost-astro.png"
          alt="Susiguzes astronautas su telofonu"
        />
      </div> */

/* -------------------------------------------- */

.section {
    height: 100%;
}

.bala {
    width: 100%;  
}

.footer {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-self: center;
}

.foot-title {
    color: #02577A;
    text-align: center;
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 5px;
}

.home-icon, 
.calendar-icon, 
.fe-icon,
.game-icon {
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.navbar > .home-icon > .title-home, 
.navbar > .calendar-icon > .title-calendar,
.navbar > .fe-icon > .title-fe,
.navbar > .game-icon > .title-game  {
    display:none
}

.navbar:hover > .home-icon > .title-home,
.navbar:hover > .calendar-icon > .title-calendar,
.navbar:hover > .fe-icon > .title-fe,
.navbar:hover > .game-icon > .title-game  {
    display: block;
    
}

