body,
body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top; 
}

body {
    font-family: Montserrat;
}

.container {
    display: flex;
}
/* ----------------NAVBAR LAYOUT --------------------*/
.logo-line {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navbar {
    width: 120px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
    align-items: center;
    transition-duration: 0.4s;
    color: #c4c4c4;
    background-color: #F7F6FF;
}

.navbar:hover {
    width: 160px;
    padding-left: 20px;
    align-items: flex-start;
    transition-duration: 0.4s;
}

.home-icon, 
.calendar-icon, 
.fe-icon,
.game-icon {
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar > .home-icon > .title-home, 
.navbar > .calendar-icon > .title-calendar,
.navbar > .fe-icon > .title-fe,
.navbar > .game-icon > .title-game  {
    display:none
}

.navbar:hover > .logo-on-hover {
    padding-left: 20px;
}
/* -------------MAIN CONTENT LAYOUT-------------- */
.main-content {
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
    width: 100%;  
    align-items: center; 
}

.section {
    display: flex;
    flex-direction: column;
    gap: 60px;
    height: 100%;
    width: 100%;
}

.upper-block {
    display: flex;
    gap: 30%;
    margin-left: 100px;
    margin-top: 50px;
    
}

.jusuvardas {
display: flex;
width: 330px;
height: 80px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
color: #000000;
margin-top: 30px;
}
.date-block > .time {
    ;
}

.date-block {
display: flex;
flex-direction: column;
width: 430px;
height: 140px;


font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
/* text-align: left; */

color: #02577A;

background-color: #fff;
box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
border-radius: 25px;
padding: 15px; 


}

/* -------------------------------------------- */

/* --------------FOOTER LAYOUT------------------ */
.footer {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    gap: 10px;
}

.foot-title {
    width: 250px;
    color: #02577A;
    text-align: center;
    font-size: 15px;
    line-height: 12px;
    margin-bottom: 10px;
}

.footer-line {
    width: 450px;
}
/* --------------------------------------------- */


/* ---------------ACTION ON HOVER ----------------------*/
.navbar:hover > .home-icon > .title-home,
.navbar:hover > .calendar-icon > .title-calendar,
.navbar:hover > .fe-icon > .title-fe,
.navbar:hover > .game-icon > .title-game  {
    display: block; 
}

.home-icon:hover,
.calendar-icon:hover,
.fe-icon:hover,
.game-icon:hover  {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 25px 0px 0px 25px;
    padding: 15px; 
    transition-duration: 0.2s;  
}
/* ------------------------------------- */